PORT=3001
REACT_APP_ENVIRONMENT=dev
REACT_APP_API_URL=api
REACT_APP_API_KEY=key
REACT_APP_VERSION=v1.0.0
REACT_APP_THEME_NAME=Start
REACT_APP_BOOTSTRAP_DOCS_LINK=https://getbootstrap.com/docs/5.0
REACT_APP_SASS_PATH=src/_start/assets/sass/core/components
REACT_APP_SASS_VARIABLES_PATH=src/_start/assets/sass/core/components/_variables.scss